<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>robit</title>
  </head>
  <body>
    <h1>{{name}}</h1>
    <img src="{{avatar}}" alt="{{name}}">
    <p>{{job}}</p>
    <p>{{company}}</p>
    <p>{{email}}</p>
    <p>{{phone}}</p>
    <strong>Education</strong>
    <ul>
      <li>{{university}}</li>
    </ul>
    <strong>Skills</strong>
    <ul>
      <li>{{skills}}</li>
    </ul>
    <a href="http://localhost:3000/index">HOME</a>
  </body>
</html>
