<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/styles.css">
    <meta charset="utf-8">
    <title>robit</title>
  </head>
  <body id="personalBody">

  <div class="profile">
    <img class="profilePic" src="{{avatar}}" alt="{{name}}">

  <div class="personalInfo">
    <h1 class="personalName">{{name}}</h1>
  <p>{{address.city}}, {{address.country}} | {{#job}}
        {{ job }}
        {{ /job }}
        {{ ^job }}
        available for hire
        {{/job}}, {{company}}</p>    
    <p class="personalEmail">{{email}} | {{phone}}</p>
  </div>

  <div class="personalEdu">
    <strong>Education</strong>
    <ul>
      <li>{{university}}</li>
    </ul>
    <strong>Skills</strong>
    <ul>
      <li>{{skills}}</li>
    </ul>
  </div>
</div>
    <a href="http://localhost:3000/robotindex">HOME</a>
  </body>
</html>
